@import "./burger";

$whiteish:#F7F4ED;
$text-grey:#333333;
$text-lightgrey:#6d6d6d;
$highlight:#C7B084;
$white: white;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.test {
    display: none;
    height: 1cm;
    width: 1cm;
    background-color: red;
}

header {
    width: 100%;
    height: 3.5cm;
    font-family: 'Alegreya', serif;
    user-select: none;
}


.header-title {
    display: block;
    width: 12cm;
    margin: auto;
    font-size: 2.5mm;
}

nav {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;

    box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.5);

}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70vw;

    a {
        color: $text-lightgrey;
        text-decoration: none;
        font-weight: light;
        font-size: 1.2rem;

        &:hover {
            color: $text-grey;


            &::after {
                content: "»";
            }
        }

        &::after {
            display: inline-block;
            position: absolute;
            transform-origin: left top;
            transform: translate(1.1em, 0.5em) rotate(90deg);
            content: "›";
        }
    }

    li {
        list-style: none;
        flex: 1 1 0;
        text-align: center;
    }
}



.menu-button {
    display: inline-block;
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    display: none;
}

.burger-icon {
    @include burger(6.6mm, 0.8mm, 1.3mm, #444);
}

.menu-button.is-active .burger-icon {
    @include burger-to-cross;
}

.video {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.video video {
    transform: translateY(-15%);
    width: 100%
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5rem minmax(20rem, auto) 15rem 6rem 4rem repeat(2, minmax(30vw, auto)) 2cm;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-gap: 1em;
    align-items: stretch;
    font-size: 1.5em;
    color: $text-grey;

    section {
        overflow: hidden;
        //text-overflow: ellipsis;
        padding: 0.5em 1em;
        background-color: white;
        text-align: justify;

        h1 {
            text-align: center;
            color: $text-grey;
        }

        h2 {
            text-align: left;
            text-indent: 2em;
            color: $text-grey;
        }

        img {
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
        }
    }

    :nth-child(1) {
        grid-area: 1 / 1 / 2 / 7;
        padding: 0px;
        font-family: 'Alegreya', serif;
        font-size: 1.5em;
    }

    :nth-child(2) {
        grid-area: 2 / 1 / 4 / 2;
        padding: 0px;

        img {
            height: 100%;
        }

    }

    :nth-child(3) {


        grid-area: 2 / 2 / 3 / 5;
    }

    :nth-child(4) {
        grid-area: 2 / 5 / 3 / 7;
        padding: 0px;

        img {
            width: 100%;
        }
    }

    :nth-child(5) {
        grid-area: 3 / 2 / 6 / 7;
        padding: 0;

        img {
            width: 100%;
        }

    }

    :nth-child(6) {
        text-align: center;
        grid-area: 4 / 4 / 5 / 6;
    }

    :nth-child(7) {
        grid-area: 4 / 1 / 6 / 2;
    }

    :nth-child(8) {
        grid-area: 6 / 1 / 7 / 4;
        padding: 3em;
    }

    :nth-child(9) {
        grid-area: 6 / 4 / 7 / 7;
        align-self: center;
        padding: 3em;
    }

    :nth-child(10) {
        grid-area: 7 / 1 / 8 / 4;
        align-self: center;
        padding: 3em;
    }

    :nth-child(11) {
        grid-area: 7 / 4 / 8 / 7;
        padding: 3em;

    }

    :nth-child(12) {
        grid-area: 8 / 1 / 9 / 7;
        text-align: center;
    }
}