@import "./burger";

$whiteish:#F7F4ED;
$text-grey:#333333;
$text-lightgrey:#6d6d6d;
$highlight:#C7B084;
$white: white;

.highlight-button {
    background-color: white;
    border: $highlight solid 2px;
    color: $highlight;
    font-size: 1.5em;
    text-decoration: none;

    transition: all 0.5s ease-in;

    &:hover {
        background-color: $highlight;
        color: white;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.test {
    display: none;

    height: 1cm;
    width: 1cm;
    background-color: red;
}

.hidden {
    display: none;
}

hr {
    width: 10rem;
    margin: 1.5em auto;
    border: 2px solid $highlight;
}

header {
    width: 100%;
    height: 3.5cm;
    font-family: 'Alegreya', serif;
    user-select: none;
}


.header-title {
    display: block;
    width: 12cm;
    margin: auto;
    font-size: 2.5mm;
}

nav {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;

    box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.5);

}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 70vw;

    a {
        color: $text-lightgrey;
        text-decoration: none;
        font-weight: light;
        font-size: 1.2rem;

        &:hover {
            color: $text-grey;


            &::after {
                content: "»";
            }
        }

        &::after {
            display: inline-block;
            position: absolute;
            transform-origin: left top;
            transform: translate(1.1em, 0.5em) rotate(90deg);
            content: "›";
        }
    }

    li {
        list-style: none;
        flex: 1 1 0;
        text-align: center;
    }
}



.menu-button {
    display: inline-block;
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    display: none;
}

.burger-icon {
    @include burger(6.6mm, 0.8mm, 1.3mm, #444);
}

.menu-button.is-active .burger-icon {
    @include burger-to-cross;
}

.video {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.video video {
    transform: translateY(-15%);
    width: 100%
}

h1 {
    text-align: center;
    color: $text-grey;
    font-family: 'Alegreya', serif;
}

h2 {
    text-align: left;
    text-indent: 2em;
    color: $text-grey;
    font-family: 'Alegreya', serif;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(5rem, auto) minmax(20rem, auto) 15rem 6rem 4rem repeat(2, minmax(30vw, auto)) minmax(5rem, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1em;
    align-items: stretch;
    font-size: 1.5em;
    color: $text-grey;

    section {
        overflow: hidden;
        //text-overflow: ellipsis;
        padding: 0.5em 1em;
        background-color: white;
        text-align: justify;



        img {
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
        }
    }

    :nth-child(1) {
        grid-area: 1 / 1 / 2 / 7;
        padding: 0px;

        font-size: 1.5em;
    }

    :nth-child(2) {
        grid-area: 2 / 1 / 4 / 2;
        padding: 0px;

        img {
            height: 100%;
            width: auto;
        }

    }

    :nth-child(3) {


        grid-area: 2 / 2 / 3 / 5;
    }

    :nth-child(4) {
        grid-area: 2 / 5 / 3 / 7;
        padding: 0px;

        img {
            width: 100%;
        }
    }

    :nth-child(5) {
        grid-area: 3 / 2 / 6 / 7;
        padding: 0;

        img {
            width: 100%;
        }

    }

    :nth-child(6) {
        text-align: center;
        grid-area: 4 / 4 / 5 / 6;
    }

    :nth-child(7) {
        grid-area: 4 / 1 / 6 / 2;
    }

    :nth-child(8) {
        grid-area: 6 / 1 / 7 / 4;
        padding: 3em;
    }

    :nth-child(9) {
        grid-area: 6 / 4 / 7 / 7;
        align-self: center;
        padding: 3em;
    }

    :nth-child(10) {
        grid-area: 7 / 1 / 8 / 4;
        align-self: center;
        padding: 3em;
    }

    :nth-child(11) {
        grid-area: 7 / 4 / 8 / 7;
        padding: 3em;

    }

    :nth-child(12) {
        grid-area: 8 / 1 / 9 / 7;
        text-align: center;
    }
}

.acheter {
    text-align: center;
    width: 70%;
    margin: 2em auto;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1em;

    a {
        @extend .highlight-button;
        padding: 0.5em;
        width: 80%;
        max-width: 20em;

        &::before {
            content: "› ";
        }

        &:hover {
            &::before {
                color: $highlight;
            }
        }
    }

    h1 {
        font-size: 3em;
    }

    grid-template-areas: "title title"
    "online caviste";

    :nth-child(1) {
        grid-area: title;
    }

    :nth-child(2) {
        grid-area: online;
    }

    :nth-child(3) {
        grid-area: caviste;
    }
}

.loc {
    background: $highlight;
    color: white;

    font-size: 1.5em;

    .adresse {
        padding: 1em 15%;
    }

    h1 {
        color: white;
        text-align: start;
        font-size: 2em;
    }
}

#map {
    width: 100%;
    height: 50vh;
}

.contact {
    h1 {
        font-size: 3em;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 20em;
        margin: auto;
        overflow: hidden;
        font-size: 1.5em;
        align-items: start;


        .form-text {
            width: 100%;
            position: relative;
            margin: 2rem 0em;



            input,
            textarea {
                color: $text-grey;
                padding-top: 0.8em;
                padding-left: 0.1em;
                border: none;
                height: 100%;
                width: 100%;
                outline: none;
                background-color: $whiteish;
                font-size: 1.2em;


                &:focus,
                &:not(:placeholder-shown) {
                    &+label span {
                        transform-origin: top left;
                        color: $text-grey;
                        transform: scale(0.7) translateY(-120%);
                    }

                    &+label::after {
                        transform: translateX(0%);
                    }

                }

                &:invalid {
                    outline: none;
                    box-shadow: none;

                    &+label span::after {
                        content: "*";
                        color: rgb(255, 61, 61);
                    }
                }
            }


            textarea {
                overflow: auto;
                resize: vertical;
                font-family: 'Roboto', sans-serif;

                &:focus,
                &:not(:placeholder-shown) {
                    &+label span {
                        transform: scale(0.7) translateY(calc(120% + 3px));
                    }
                }
            }

            label {
                position: absolute;
                bottom: 0px;
                left: 0px;
                pointer-events: none;
                height: 100%;
                width: 100%;
                color: $text-lightgrey;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    border-bottom: 3px solid $highlight;
                    transform: translateX(-100%);
                    transition: all 0.5s ease;

                }

                span {
                    position: absolute;
                    bottom: 0em;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
        }

        fieldset {
            border: none;
            width: 100%;

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-evenly;
                width: 100%;

            }
        }

        .form-consent {
            font-size: 1rem;
            display: flex;
            align-items: start;

            input {
                margin: 0.2rem;
                box-shadow: none;
            }
        }

        button[type='submit'] {
            @extend .highlight-button;
            align-self: end;
            margin: 1em 0em;
            width: 50%;
            padding: 0.5em;
            font-size: 1.5rem;

            &::after {
                content: ' ›';
            }
        }
    }
}

footer {
    width: 100%;
    background-color: black;
    color: wehite;
    padding: 1em;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            list-style: none;
            flex: 1 1 0;
            text-align: center;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }


}